public/lib/**/*.png filter=lfs diff=lfs merge=lfs -text
public/lib/**/*.jpg filter=lfs diff=lfs merge=lfs -text
public/lib/**/*.jpeg filter=lfs diff=lfs merge=lfs -text
public/audio/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
public/lib/**/*.mp3 filter=lfs diff=lfs merge=lfs -text
public/lib/**/*.webp filter=lfs diff=lfs merge=lfs -text
public/assets/**/*.webp filter=lfs diff=lfs merge=lfs -text
